[MAIN]

# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
#init-hook=

# Files or directories to be skipped. They should be base names, not
# paths.
ignore=

# Add files or directories matching the regex patterns to the ignore-list. The
# regex matches against paths and can be in Posix or Windows format.
ignore-paths=quokkakit

# Files or directories matching the regex patterns are skipped. The regex
# matches against base names, not paths.
ignore-patterns=^\.#

# Pickle collected data for later comparisons.
persistent=yes

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=
    ; pylint.extensions.check_elif,
    ; pylint.extensions.bad_builtin,
    ; pylint.extensions.docparams,
    ; pylint.extensions.for_any_all,
    ; pylint.extensions.set_membership,
    ; pylint.extensions.code_style,
    ; pylint.extensions.overlapping_exceptions,
    ; pylint.extensions.typing,
    ; pylint.extensions.redefined_variable_type,
    ; pylint.extensions.comparison_placement,
    ; pylint.extensions.broad_try_clause,
    ; pylint.extensions.dict_init_mutate,
    ; pylint.extensions.consider_refactoring_into_while_condition,

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the
# number of processors available to use.
jobs=1
